<div class="panel">
  <div class="btn-group-vertical"> 
    <button ng-repeat="(name, count) in vm.lobbies" type="button" class="btn btn-primary" ng-class="{'btn btn-primary': vm.activeBtn != name, 'btn btn-success': vm.activeBtn == name}" ng-click="vm.viewLobby(name)" ng-dblclick="vm.joinLobby(name)" style="width:100%;"> {{ name }} {{ count }}/{{mainctrl.self.lobbySize }}</button>
  </div>
  <input type="text" ng-disabled="vm.inLobby" ng-model="vm.newLobbyName" class="form-control" placeholder="Enter lobby name...">
  <button type="button" ng-disabled="(vm.newLobbyName == '' && !vm.inLobby) || self.inActiveLobby" class="btn btn-primary" ng-class="{'btn btn-primary': !vm.inLobby, 'btn btn-danger': vm.inLobby}" ng-click="vm.createGame(vm.newLobbyName)" style="width:100%;">{{ vm.lobbyButtonText }}</button>
</div>

